# Configuration file for spectrum_extractor

[processing_settings]

# Normalized 2D Flat file to be used for correcting pixel to pixel variation before extraction
FlatNFile = None

# Bad Pixel Mask file to be used for fixing bad pixels
BadPixMask = None

# Cosmic Ray Fix using L. A. Cosmic  # WARNING: Incorrect parameters can result in artifacts in data
DoCosmicRayClean = False
# Following two parameters are valid only if the DoCosmicRayClean = True
# The gain can be either a header keyword or a float number
CosmicRayCleanGain = 'EXPLNDR'
CosmicRayCleanSigclip = 5

# Extract Varaince array also if the fits extension number is provided below
VarianceExt = None

[tracing_settings]
# Continuum flat source to be used for aperture extraction
ContinuumFile = /home/varghese/Desktop/Github/pyTANSPEC/pyTANSPEC/data/bd491296axd_s0.5Ahg-00031.Z.fits

# Array of labels for the aperture trace regions
ApertureLabel = /home/varghese/Desktop/Github/pyTANSPEC/pyTANSPEC/data/ApLabel_bd491296axd_s0.5Ahg-00031.Z.npy

# Filename of saved or to be saved ApertureTraces
ApertureTraceFilename = /home/varghese/Desktop/Github/pyTANSPEC/pyTANSPEC/data/bd491296axd_s0.5Ahg-00031.Z.fits_trace.pkl

# Pixel location to start the tracing from. None will resut in middle of the detector
Start_Location = None

# Half the size of the window to average in dispersion axis for XD profile fitting
AvgHWindow_forTrace = 7

#Half width of the star or fiber XD profile
HWidth_inXD = 7

# Threshold above which if the trace centroid sigma is unknown (units of pixels), then use extrapolation of centroids from nearby brighter orders
extrapolate_thresh_forTrace = 0.8

# Order of the above mentioned extrapolation polynomial for faint traces
extrapolate_order_forTrace = 2

#Order of polynomial to use for smooth aperture trace function fit from the aperture centers
ApertureTraceFuncDegree = 4

# Refit the XD position of the spectrum to be extracted
# Set it to False if the XD position of the apertures need not be refitted to the data being extracted
# set is to p0 for pixel shift only, set it to p1 for a linear polynomial shift.
# set it to [(shift coeffs),(domain start, domain end)] for applying a precomputed shift
ReFitApertureInXD = p1

# Window of the XD pixels regions to use for fitting the XD offset if the above variable is not False
ReFitApertureInXD_DWindow = (700,1200)

# Whether to subtract a bkg estimated by median filtering using the kernal size given below before XD fiting
ReFitApertureInXD_BkgMedianFilt = 51

#Plot and Show the identified trace plots
ShowPlot_Trace = True



[extraction_settings]

# Dispersion is in X axis  if True, enter False for Dispersion in Y axis
dispersion_Xaxis = True

# Rectification Method : Bandlimited , None
RectificationMethod =  None
# Rectification window size is the height of the rectified order centered to aperture trace
RectificationWindow = (-8,8)

# Extraction Methods: Sum, FlatRelativeOptimal, Optimal
ExtractionMethod = Sum
#Sum extraction window is the aperture for sum extraction
ApertureWindow = (-8,8)

# Threshold for CR rejection in an optimal extraction algorithm like FlatRelativeOptimal
# Set the value to Zero, to not do any rejection.
OptimalExt_CRsigma = 4

#Optional Bkg Extraction windows. Each window will be a seperate extension
BkgWindows = [(-10,-6),(6,10)]
